header {
  background-color: #fabb84;
}

h1 {
  font-family: Garamond;
}

body {
  background-color: #cedade;
  background-image: url("images/meliodas.jpg");
}

ol, li {
  font-weight: bold;
  font-size: 18px;
  font-family: Garamond;
}