@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.complete-btn {
    border: 1px solid black;
    border-radius: 2px;
    padding: 2px 5px 0px 5px;
    display: inline-block;
}

.complete-btn:hover {
    background-color: lightgreen;
}

.todo-delete-btn:hover {
    background-color: red;
}

.todo-content {
    border: 1px solid black;
    width: 300px;
    display: inline-block;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.add-todo-wrapper {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.todos-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}

.todo-filters {
    margin-top: 35px;
    margin-left: 90px;
}

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#todoInput {
    width: 300px;
    font-family: 'Roboto', sans-serif;
}