@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

h1 {
    font-family: "Pokemon";
    color: #FFCB05;
    font-size: 75px;
    text-align: center;
}

body {
    background-color: #003A70;
}

#pokedex {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 25%;
    font-size: 1.5rem;
    color: #b48484;
    margin-bottom: 70px;
    transition: all .2s ease-in-out;
}


h3 {
    text-transform: capitalize;
    color: #FFCB05
}

li:hover {
    transition: background-color 0.5s ease;
    background-color: red;
    cursor: pointer;
}